*{
    margin: 0px;
}
body{
    background-image: url(../_img/vegeta.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center top;
    background-color: darkslategrey;
    background-attachment: fixed;
    
}
#img1{
    width: 15%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 5px solid gold;
}
#img2{
    width: 20%;
    position: relative;
    float: right;
}
