*{
    margin: 0px;
}
button{
    position: fixed;
    background-color: white;
    opacity: 0.5;
    border-radius: 10px;
    font-weight: bolder;
}
body{
    background-image: url('../_img/rayquaza.webp');
    background-size: 10%;
    background-color: lightgray;
}
#div1{
    width: 1620px;
    height: 1080px;
    margin: auto;
    background-color: white;
    border: 0px;
    border-radius: 20px;
}
#div2{
    border: 1px solid gray;
    border-top: none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 1620px;
    height: 180px;
    background-color: lightgray;
}
